@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");



/* css variables */

:root{
    --primary-color: #1f1ff1;
    --secondary-color:#223ca3;
    --light-color:#a7c2da;
    --font:"DotGothic16",sans-serif;
    --dark:rgba(0,0,0,0.4)
}
*{
    box-sizing:border-box;
    font-family:var(--font);
}
body{
    background-color:var(--primary-color);
    color:var(--light-color);
    display:flex;
    align-items:center;
    justify-content:center;
    height:80vh;
    overflow:hidden;
    margin:0;

}
.container{
    width:100%;
    height:100%;
    padding:4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.title{
    margin:20px 0 0;
    letter-spacing:8px;
    text-transform:uppercase;
    text-align:center;

}

.game-container{
    padding:20px 30px;
    position:relative;
    margin:auto;
    height:350px;
    width:400px;
}

.figure-container{
    fill:transparent;
    stroke:var(--light-color);
    stroke-width:4px;
    stroke-linecap:round;
}
.figure-part{
    display:none;
}
/* popup */
.popup-container{
background-color:var(--dark);
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
display:flex;
align-items:center;
justify-content:center;
display:none;

}

/* notification container */
.notification-container{
    position:absolute;
    bottom:-60px;
    border-radius:10px 10px 0 0;
    background-color:var(--dark);
    padding:12px;
    transition:transform 0.3s ease-in-out;
}
.notification-container.show{
    transform: translateY(-60px);
}
.notification-container p{
    margin :0;

}

/* wrong letters */
.wrong-letters-container {
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    flex-direction:column;
    text-align:right;
    border:1px dotted #ccc;
    padding:20px;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span{
    font-size:24px;
}


.word{
    display:flex;
    position:absolute;
    padding-top:1rem;

    bottom:10px;
    left:50%;
    transform:transalateX(-50%);
}

.letter{
    border-bottom:3px solid var(--secondary-color);
    display:inline-flex;
    font-size:30px;
    align-items:center;
    justify-content:center;
    margin:0px 3px;
    height:50px;
    width:20px;
}

/* popup container */
.popup-container{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    align-items:center;
    justify-content:center;
    background-color:var(--dark);
}

.popup{
    background-color:var(--secondary-color);
    border-radius:5px;
    box-shadow:0 15px 10px 3px rgba(0,0,0,0.1);
    padding:20px;
    text-align:center;
}

.popup button{
    cursor:pointer;
    background-color:var(--light-color);
    color:var(--secondary-color);
    border:0;
    margin-top:20px;
    padding:12px 20px;
    font-size:1rem;
    font-family:inherit;
    border-radius:5px;
}

.popup button:active{
    transform:scale(0.98);
}

.popup button:focus{
    outline:none;
}

#num{
    background-color:var(--secondary-color);
    color:var(--light-color);
    padding:10px 12px;
}